kind: Deployment
metadata:
  name: uber
spec:
  template:
    metadata:
      annotations:
        gke-gcsfuse/volumes: 'true'
    spec:
      containers:
        - name: service
          image: us-west1-docker.pkg.dev/ucdlib-dams/pub/dams-base-service:2.7.5
          env:
            - name: K8S_ENABLED
              value: 'true'
            - name: K8S_PLATFORM
              value: gke
            - name: K8S_CLUSTER
              value: dams-prod
            - name: K8S_REGION
              value: us-west1-b
            - name: K8S_COLLECTION_IMPORT_IMAGE
              value: us-west1-docker.pkg.dev/ucdlib-dams/pub/dams-base-service:2.7.5
          volumeMounts:
            - name: gcs-kustomize-templates-fuse
              mountPath: /etc/fin/k8s-templates
      nodeSelector:
        intendedfor: scalable-pool
      volumes:
        - name: gcs-kustomize-templates-fuse
          persistentVolumeClaim:
            claimName: gcs-kustomize-templates-pvc
      serviceAccountName: dams-production
