kind: Deployment
metadata:
  name: dbsync
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: service
          image: us-west1-docker.pkg.dev/ucdlib-dams/pub/dams-base-service:2.7.8
          env:
            - name: FIN_METRICS_EXPORT_GC
              value: 'true'
