kind: Deployment
metadata:
  name: workflow
spec:
  template:
    spec:
      containers:
        - name: service
          image: us-west1-docker.pkg.dev/ucdlib-dams/pub/dams-base-service:2.7.8
          env:
            - name: IMAGE_UTILS_SERVICE_CONTAINER
              value: us-west1-docker.pkg.dev/ucdlib-dams/pub/dams-image-utils:2.7.8
            - name: WORKFLOW_ENV
              value: dev
            - name: IMAGE_UTILS_SERVICE_URL
              value: https://dams-image-utils-dev-834298256607.us-west1.run.app
